/* here you can put your own css to customize and override the theme */

.datatable-center-item, .details-control {
	text-align: center;
	width: 1% !important;
}
.datatable-filter {
	cursor: pointer;
	margin-left: -5px;
}

.dataTable tfoot {
    display: table-row-group;
}

.dataTable input[type=text] {
    width: 100%;
    min-width: 100px;
}

.dataTable .free-width-input {
	min-width: auto !important;
}

.iconic-filter div {
	display: inline-block;
	cursor: pointer;
}

.iconic-filter {
	padding: 15px 10px !important;
}

.history-expand-info {
	width: 100%;
}

.history-expand-info tr:first-child {
	background: #eef1f5;
}

.history-expand-info tr td:first-child{
	border-right: 1px dashed #c5c5c5;
}

.history-details {
	padding: 0px !important;
}